<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Home</title>

</head>
<body>

    <header>
        <nav class="navbar">
            <ul class="navbar__list">
     
                <li class="navbar__item item--logo"> <img  src="logo" alt="Logo-pagina"> </li>
                <li class="navbar__item"><a href="#">Tendencias</a></li>
                <li class="navbar__item"><a href="#">Registrarse</a></li>
                <li class="navbar__item item--button"><a href="#">Iniciar Sesion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section__principal">
            <div class="section__container">
                <h1 class="section__titulo">Películas y series ilimitas en un solo lugar</h1>
                <p class="section__subtitulo">Disfruta donde quieras. <br> Cancela en cualquier momento.</p>
    
                <button class="section__button">
                    Registrarse
                </button>
            </div>
 
        </section>
    </main>

    <footer>

    </footer>
    
</body>
</html>