<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Home</title>

</head>
<body>

    <header>
        <nav class="navbar">
            <ul class="navbar__list">
     
                <li class="navbar__item item--logo"> <img  src="logo" alt="Logo-pagina"> </li>
                <li class="navbar__item"><a href="#">Tendencias</a></li>
                <li class="navbar__item"><a href="#">Registrarse</a></li>
                <li class="navbar__item item--button"><a href="#">Iniciar Sesion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section__principal">
            <div class="section__overlay"></div>

            <div class="section__container">
                <h1 class="section__titulo">Películas y series ilimitas en un solo lugar</h1>
                <p class="section__subtitulo">Disfruta donde quieras. <br> Cancela en cualquier momento.</p>
    
                <button class="section__button">
                    Registrarse
                </button>
            </div>
        </section>

        <section class="section__search">
            <div class="section__search__container">
                <p class="section__search__titulo">¿Qué estás buscando para ver?</p>
                <input class="section__search__input" type="text" placeholder="Buscar...">
                <button class="section__search__button">Buscar</button>
            </div>
            <div class="section__search__line"></div>

        </section>
    </main>

    <footer class="footer">
        <div class="footer__container">
            <p>Términos y condiciones</p>
            <p>Preguntas frecuentes</p>
            <p>Ayuda</p>
            <button>Administrador Películas</button>
        </div>

    </footer>
    
</body>
</html>