<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/register.css">

    <title>Free Pelis | Registrarse</title>

</head>
<body>

    <main>
        <section class="section">
            <div class="section__container">
                <h1 class="section__title">Registrarse</h1>

                <form action="" class="section__form">
                    <label for="name"></label>
                    <input class="section__input" type="text" id="name" name="name" placeholder="Nombre" required>
                    <label for="email"></label>
                    <input class="section__input" type="email" id="email" name="email" placeholder="Email" required>
                    <label for="username"></label>
                    <input class="section__input" type="password" id="password" name="password" placeholder="Contraseña" required>
                    <label for="cumpleaños"></label>
                    <input class="section__input" type="date" id="cumpleaños" name="cumpleaños" placeholder="" required>
                    
                    <label for="opciones"></label>  
                    <select id="opciones" name="opciones" class="section__input input--opciones">

                        <option value="">País</option>
                        <option value="opcion1">Argentina</option>
                        <option value="opcion2">Brasil</option>
                        <option value="opcion3">Chile</option>
                    
                    </select>

                    <button type="submit" class="section__form__button">Crear Cuenta</button>
                </form>

                <p class="section__link">¿Ya tenés cuenta? <a href="../templates/login.html">Iniciar Sesión</a></p>

            </div>
        </section>
    </main>

    <script src="../js/register.js"></script>
</body>
</html>