*{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../resources/images/inicio-sesion/background-films.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 40%;
    min-width: 300px;
    height: 100%;
    /* background-color: red; */
}

/* INICIAR SESIÓN */
.section{
    width: 80%; 
    height: 80%; 
    background-color: rgb(32, 49, 41);
    margin: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 40px;
    min-width: 350px;
    box-shadow: 0 0 100px black;
}

.section__container{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;

}


.section__title{
    margin-top: 30%;
    color: white;
    font-size: 2em;
    text-align: left;
}



.section__input{
    width: 100%;
    display: block;
    background-color: transparent;
    list-style: none;
    margin: 0 auto;
    margin: 16px 0;
    padding: 16px;
    border-radius: 8px;
    border:none;
    border: 2px solid rgb(0, 194, 58);
    box-sizing: border-box;
    color: rgb(172, 172, 172);
    outline: none;

}

/* INICIAR SESIÓN BOTONES */
.section__form__button{
    color: white;
    background-color: rgb(0, 194, 58);
    width: 100%;
    padding: 16px 32px;
    border-radius: 8px;
    border:none;
    font-size: 1.4em;
}

.section__form__button:hover{
    cursor: pointer;
}

.section__link{
    color: white;
    margin-top: 16px;
    font-size: 1.2em;
}

.section__link a{
    color: rgb(0, 194, 58);
}

.section__error{
    color: rgb(207, 0, 0);
    margin-top: 8px;
    width: 100%;
}